<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="info">

	<extaensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extaensions>

	<targets>
		<target name="file" xsi:type="File" fileName="C:\N_Word_Logs\nlog_all_${shortdate}.log"
				layout="${shortdate} | ${level} | ${logger} | [${mycontext}] |${message}"/>
		<target name="exceptions" xsi:type="File" fileName="C:\N_Word_Logs\nlog_all_exceptions${shortdate}.log"
				layout="${shortdate} | ${level} | ${logger} | [${mycontext}] |${message}"/>
	</targets>


	<rules>
		<!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="N_WORD*" minlevel="Error" writeTo="exceptions" />
		<!-- <logger name="*" levels="Error" writeTo="email" /> -->
	</rules>
</nlog>